DATABASE_URL="postgres://username:password@127.0.0.1:5432/database_name?sslmode=disable"

PORT = your port number should be here

DB_CONNECTION = RDBMS_TYPE
DB_HOST = HOST IP
DB_USERNAME = USERNAME
DB_PASSWORD = PASSWORD
DB_DATABASE = DATABASENAME
DB_PORT = DB IP PORT
DB_LOGGING = BOOLEAN
DB_SYNCHRONIZE = BOOLEAN

ALGORITHM = youre algorithm type shuould be here
JWT_SECRET = ultra-secure-ultra-long-secret