PORT = your port number should be here

DB_CONNECTION = RDBMS_TYPE
DB_HOST = HOST IP
DB_USERNAME = USERNAME
DB_PASSWORD = PASSWORD
DB_DATABASE = DATABASENAME
DB_PORT = DB IP PORT
DB_LOGGING = BOOLEAN
DB_SYNCHRONIZE = BOOLEAN

ALGORITHM = youre algorithm type shuould be here
JWT_SECRET = ultra-secure-ultra-long-secret
JWT_EXPIRATION_TIME_SECONDS = jwt token's expire time 
JWT_ACCESS_TOKEN_SECRET_KEY = access token secret key
JWT_ACCESS_TOKEN_EXPIRATION_TIME = access token's expire time
JWT_REFRESH_TOKEN_SECRET_KEY= refresh token secret key
JWT_REFRESH_TOKEN_EXPIRATION_TIME= refresh token's expire time

GITHUB_OAUTH_CLIENT_ID = github oauth client id
GITHUB_OAUTH_CLIENT_SECRET = github oauth client secret